body{
	line-height: 1.6;
	font-family: Roboto Condensed, sans-serif;
}
h1 {
	color: #A52A2A;
	font-family: Gloria Hallelujah, cursive;
	text-align: center;
	margin: auto;
}
h2{
    color: purple;
	text-align: center;
	font-family: Gloria Hallelujah, cursive;
}
footer{
	width: 960px;
	margin: auto;
	text-align: center;
}
footer ul li{
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  font-size: 1.5em;
}
#main-nav{
	width: 960px;
	margin: auto;
	background:#49a942;
}
.wrapper{
	width: 960px;
	margin: auto;
	padding: 30px;
}

.nav-logo{
	display: block;
	width: 360px;
	margin: auto;
}
#logo{
	width:100%;
}
.main-img{
	width: 50%;
}

/*Top Navigation ------------------------------*/
.topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
    top: 0;
   z-index: 100;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #D2D2D2;
  color: black;
}

.topnav a.active {
  background-color: #49a942;
  color: white;
}

.topnav .icon {
  display: none;
}
/*top nav --------------------------end*/
/* Dropdown Button----------------------------- */
.dropbtn {
  background-color: #49a942;
  color: white;
  padding: 16px;
  font-size: 1.5em;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.dropdown a {
 text-decoration:none;
 color: white; 
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2D2D2;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
/* Dropdown Button----------------------------- end */

/*FORM style*-----------------------------*/
/*@newsletter*/
.form-form{
	float: left;
	width: 50%;
}
.wrapper h5{	
width: 50%;
font-size: 1em;
margin:0;
padding:0;
text-align: left;
}
.form-fields{
margin-top: 25px;
}
.form-label{
float: left;
width: 20%;
font-size: 18px;
}
.form-input input{
	width: 70%;
	height: 1.5em;
}
.form-button{
	width:50%;
	margin: 0 25% 0 25%;
}
.form-button button{
  background-color: #49a942;
  margin-top: 25px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}
.form-button button:hover{
	background-color: #3e8e41;
}
/*FORM @contact-subpage*/
.contact-form{
	float: left;
	width: 50%;
	text-align: left;
}
.contact-fields{
	margin: 5px;
	width: 400px;
}
.contact-message{
	width: 400px;
	margin: 0px 40px 25px 20px;
}
.contact-input{
	width: 400px;
	height: 2em;
}
.contact-label{
	width: 400px;
	padding: 5px;
}
.contact-button{
  background-color: #49a942;
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
}
.contact-button:hover{
	background-color: #3e8e41;
}
.contact-img{
	width: 100%;
	margin: 25px 0px;
}
textarea {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
/*end of FORM style ---------------------------*/	


.about{
	
}

.constitution {
	text-align: center;
}

.journal{
	
}

.history{
	
}
/*------------------------------*/
@media screen and (max-width: 960px){

.wrapper{
width: 600px;
}
#main-nav{
  width: 100%;
}
.dropdown {
  width: 100%;
}
footer{
	width: 600px;
}
.main-img{
	width: 100%;
}
/*FORM newsletter@960 style*-----------------------------*/
.wrapper h5{	
	width: 80%;
	margin: 10%;
	font-size: 1.5em;
	text-align: center;
}
.form-form{
	width: 100%;
}
.form-fields{
  width: 100%;
}
.form-label{
width: 100%;
font-size: 1.5em;
}
.form-input input{
	width: 100%;
	height: 3.5em;
}
.form-button{
	width:50%;
	margin: 0 25% 0 25%;
}
.form-button button{
  margin-bottom: 25px;
}
/*FORM @contact-subpage @960*/
.contact-form{
	float: none;
	width: 100%;
	text-align: left;
	font-size: 1.5em;
}
.contact-fields{
	width: 100%;
}
.contact-label{
width: 100%;
}
.contact-input{
width: 100%;
height: 3em;
}
.contact-button{
	width:80%;
	margin: 0 10% 0 10%;
}
.contact-message{
	width:100%;
}
textarea {
  width: 100%;
}
/*end of FORM @960 style */	
}

@media screen and (max-width: 600px) {

.topnav a:not(:first-child) {
	display: none;
}

.topnav a.icon {
    float: right;
    display: block;
}
.topnav.responsive {
	position: relative;
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.wrapper{
width: 300px;
}
#main-nav{
  width: 100%;
}
.dropdown {
  width: 100%;
}
footer{
	width: 300px;
}
.main-img{
	width: 100%;
}
/*FORM style @600-----------------------------*/
.contact-form{
	float: none;
	width: 90%;
	margin: 25px 5%;
	text-align: center;
	
}
.contact-fields{
	width: 100%;
}
.contact-label{
width: 100%;
font-size: 1.5em;
}
.contact-input{
width: 100%;
height: 3em;
}
.contact-button{
	width: 90%;
	margin: 10px 5%;
}
.contact-message{
		width: 90%;
	margin: 10px 5%;
}
textarea {
  width: 100%;
}
/*end of FORM @ 600 style */	
}
